body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
}

.titulo {
  color: aqua;
}
.botao-adicionar {
  background-color: orange;
  border-radius: 10px;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}
.botao-remover {
  background-color: red;
  border-radius: 10px;
  color: white;
  padding: 4px 8px;
  border: none;
  cursor: pointer;
  align-self: flex-end;
  justify-self: flex-start;
  
}

.botao-adicionar:hover,
.botao-remover:hover {
  background-color: black;
}
.linha-verde-claro {
  background-color: #d4f0dc;
}

.linha-verde-mais-claro {
  background-color: #c2edd5;
}
.linha-conteudo {
  width: 500px;
  margin: 0 auto;
}
.botao-remover-end {
  justify-content: end;
}
.botao-remover-esquerda {
  align-self: flex-end;
  justify-self: flex-start;
}
.borda-preta {
  border: 10px solid black;
  padding: 10px;
}
.titulo-borda {
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 10px;
}










